<% if can?(:read, forum) %>
  <tr class="heading">
    <th colspan="3">
      <%= link_to forum.title, forum_path(forum) %>
    </th>
  </tr>

  <% forum.topics.approved_or_pending_review_for(current_user).last(3).each do |topic| %>
    <tr>
      <td colspan="3">
        <%= link_to topic.subject, topic_path(topic) %>
      </td>
    </tr>
  <% end %>
<% end %>
