<% set_title t('mainpage.title') %>
<% set_description t('mainpage.description') %>
<% add_breadcrumb t('mainpage.name') %>

<div class="container-fluid">
  <%= render @forums %>
</div>

<footer id='admin_link'>
  <% if admin? %>
    <%= link_to t("area", :scope => "forem.admin"), admin_root_path %>
  <% end %>
</footer>
