<h2><%= link_to t('forem.forum.forums'), forums_path %> &raquo; <%= link_to forem_emojify(topic.forum.title), topic.forum %> &raquo; <%= forem_emojify(topic.subject) %></h2>
<% if admin? %>
  <%= link_to t('forem.topic.links.edit'), edit_admin_topic_path(topic) %>
<% end %>
