.navbar {
  color: white;
  a {
    color: white
  }
  .navbar-inner {
    background-color: white;
    border: 0;
    border-top: 5px solid $darkRed;
    padding: 0;
    background-image: none;
    border-radius: 0;
  }

  .navbar-breadcrumbs {
    float: right;
    padding: 0.5em 0;
    color: $darkRed;
    a {
      color: $darkRed;
    }
    strong {
      font-weight: normal;
    }
  }

  h1 a {
    font-size: 0.75em;
    color: $darkRed;
    font-weight: normal;
    //text-shadow: 0 0 150px $darkRed, 0 0 30px $darkRed, 0 0 10px $darkRed;
  }
  .navbar-login {
    float: right;
    background: $darkRed;
    margin: 0;
    padding: 0 0.5em 0.5em 0.5em;
    @include round-bottom;
  }
}
