$bodyBackground: #e7fdfb;
$textColor: #1c1a1a;
$linkColor: #105f59;
$linkColorHover: #6c9119;

$darkRed: #63080d;
$lightRed: #981a20;

@import "bootstrap";
@import "bootstrap-responsive";
@import "generic";
// @import "containers/*";
