$darkRed: #63080d;
$lightRed: #981a20;
$lightGreen: #6c9119;
$darkGreen: #105f59;

$bodyBackground: #e7fdfb;
$textColor: #1c1a1a;
$linkColor: $darkGreen;
$linkColorHover: $lightGreen;

@import "bootstrap";
@import "bootstrap-responsive";
@import "devise";
@import "generic";
@import "containers/alert";
@import "containers/header";
@import "containers/table";
