/* CONFIG */
/*----------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', Georgia, Times, serif;}

p { font-family: 'PT Sans', Helvetica, Arial, sans-serif;}

body { padding: 0; background-color: $lightGrey;}
.container-fluid { padding: 0 20px; }