<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to t('common.name'), root_path, :class => "logo" %>
      <% @breadcrumbs.each do |item| %>
        &raquo;
        <% if item.url.blank? %>
          <strong><%= item.title.html_safe %></strong>
        <% else %>
          <%= link_to item.title.html_safe, item.url %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
